@import "../../../variable.scss";
.home-top
{
    height: 100vh;
    padding: 50px 50px;
    background-image: linear-gradient(to right, #c1c1c8, #c7c7d0, #ccced7, #d1d4df, #d6dbe7, #dbe0eb, #e0e4ef, #e5e9f3, #ebedf4, #f0f1f6, #f5f5f7, #f9f9f9);
}
.key
{
   text-align: center;
    font-weight: 700;
}
.tabs
{
    text-align: center;
}
