<nav class="top-nav-bar">
  <div class="nav-items d-flex justify-content-between align-items-center">
    <div class="logo mr-5" (click)="logoClick()">

      <img class="logo-long" src="assets/images/Logo_white.png" height="17px" width="170px" alt="KN-logo" />
    </div>
    <div class="top-hed">
      <div class="d-flex justify-content-start align-items-center menu-blk">
        <div class="each-menu">
          <span routerLinkActive="active">

            <span class="item-menu">Tab1</span>

          </span>
        </div>
        <div class="each-menu">
          <span>


            <span class="item-menu">Tab2</span>

          </span>
        </div>
        <div class="each-menu">
          <span routerLinkActive="active">

            <span class="item-menu">Tab3</span>

          </span>
        </div>
        <div class="each-menu">
          <span routerLinkActive="active">

            <span class="item-menu">Tab4</span>

          </span>
        </div>
        <div class="each-menu">
          <span routerLinkActive="active">

            <span class="item-menu">Tab5</span>

          </span>
        </div>
        <div class="each-menu">
          <span routerLinkActive="active">

            <span class="item-menu">Manage Rules</span>

          </span>
        </div>

        <div class="logout-btn m-0" (click)="logout()">

          <span class="mx-2">Logout</span>
        </div>

      </div>
    </div>
  </div>
</nav>