@import "../../../../variable.scss";

.input-box {
  padding: 11px;
  width: 100% !important;
  height: 43px !important;
  border: 1px solid $inp-border !important;
}

::placeholder {
  color: $menu-font;
  font-size: fontsize(fsize12);
}
