<div class="home-top position-relative">
    <div class="row">

        <div class="col-md-6">
            <div class="header-sty">Designed by <br> Indian Engineers</div>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur dolores
                repellat fugiat culpa officia nobis reprehenderit doloribus facilis, ratione repudiandae soluta autem
                praesentium quisquam. Earum saepe illo molestiae aliquam!</p>
        </div>
        <div class="col-md-6">
            <div>
                <div class="mouse"></div>
            </div>
        </div>
    </div>
</div>